
           .third{
            width: 90%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: transparent;
            position: fixed;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            z-index: -5000;
            opacity: 0;
        }

        .inner{
            width: 90%;
            height: 80%;
            background: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 3%;
            transition: 0.4s;
        }

        .mid1{
            width: 120px;
            height: 120px;
            background: transparent;
            border-radius: 50%;
            text-align: center;
            color: green;
            font-size: 80px;
            border: 5px solid blue;
            opacity: 0;
             padding: 2% !important;
             display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

          .mid-image{
            width: 85%;
            height: 85%;
            border-radius: 50%;
        }

        .info-holder{
            width: 90%;
            height: 35%;
            background: #7f877f;
            margin-top: 5%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding: 3%;
            word-spacing: 5px;
            text-align: center !important;
            overflow-x: hidden;
            overflow-y: visible;
        }

